@model FinancialDashboard.Models.YnabAccount

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>YnabAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.On_budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.On_budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cleared_balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cleared_balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uncleared_balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uncleared_balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transfer_payee_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transfer_payee_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.APR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.APR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MostRecentStatementID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MostRecentStatementID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
